.container{
    background-color: lightgray;
    margin: 30px auto;
    max-width: 450px;
    padding: 70px;
    margin-top: 80px;
    margin-bottom: 250px;
    border-radius: 10px;
    border:2px solid black;  
  }

h2{
    color: rgb(150, 3, 3);
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
}

.container button{
    display: block;
    width: 100%;
    background-color: black;
    color: white;
}

.container button:hover{
    background-color: rgb(92, 184, 11);
    transition: 1s;
}