@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1{
  font-family: 'poppins';
  border: 2px solid rgb(0, 0, 0);
  color: #fff;
  background-color: lightgray;
  margin-left:600px;
  margin-right: 600px; 
  margin-top: 50px; 
  margin-bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 15px;
 
}

a{
  text-decoration: none;
}

.form-wrap{
  
  padding: 15px 25px;
  color: #333;

  border-radius: 05px;
}

.form-wrap h1,
.form-wrap p{
  text-align: center;
}

.form-wrap .form-group{
  margin-top: 15px;
}

.form-wrap .form-group label{
  display: block;
  color: #666;
}

.form-wrap .form-group input{
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

h1{
  color: rgb(150, 3, 3);
  font-family:Georgia, 'Times New Roman', Times, serif; 
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
}

th, td{
  text-indent: 10px;
}

.form-wrap button{
  display: block;
  width: 50%;
  position:center;
  padding: 10px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #0d0e0d;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fafafa;
  font-family: 'poppins';
  font-size: 15px;
  transition: 1s;
}

.form-wrap button:hover{
  background-color: rgb(92, 184, 11);
  color: black;
  transition: 1s;
}

.form-wrap .bottom-text{
  font-size: 13px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 10px;
  color: #333;
}

footer a {
  color:#49c1a2
}